@use '../utils/mixins' as *;
@use '../utils/variables' as v;


.main-container {
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, #201c2f 0%, #100751 100%);
}
  
.stars1 {
    @include star-template(v.$numStarOneStars, 1px, v.$starOneScrollDuration);
}
.stars2 {
    @include star-template(v.$numStarTwoStars, 2px, v.$starTwoScrollDuration);
}
.stars3 {
    @include star-template(v.$numStarThreeStars, 3px, v.$starThreeScrollDuration);
}
.comet {
    @include shooting-star-template(v.$numComet, 5px, 5s);
}